# Data Preprocessing

### Libraries to import:

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
np.random.seed(365)
import pickle
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', 1000)

Reading in datasets from June 2019 to June 2020

In [13]:
#### Reading in dataset for January for yellow cabs

#june_2019_df = pd.read_csv('./data/original_data/yellow_2019-06.csv')
#july_2019_df = pd.read_csv('./data/original_data/yellow_2019-07.csv')
#august_2019_df = pd.read_csv('./data/original_data/yellow_2019-08.csv')
#september_2019_df = pd.read_csv('./data/original_data/yellow_2019-09.csv')
#october_2019_df = pd.read_csv('./data/original_data/yellow_2019-10.csv')
#november_2019_df = pd.read_csv('./data/original_data/yellow_2019-11.csv')
#december_2019_df = pd.read_csv('./data/original_data/yellow_2019-12.csv')


jan_2020_df = pd.read_csv('./data/original_data/yellow_2020-01.csv')
feb_2020_df = pd.read_csv('./data/original_data/yellow_2020-02.csv')
#march_2020_df = pd.read_csv('./data/original_data/yellow_2020-03.csv')
#april_2020_df = pd.read_csv('./data/original_data/yellow_2020-04.csv')
#may_2020_df = pd.read_csv('./data/original_data/yellow_2020-05.csv')
#june_2020_df = pd.read_csv('./data/original_data/yellow_2020-06.csv')

In [2]:
borough_info = pd.read_csv('./data/taxi_zones/taxi_zones.csv')
borough_info.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

## Data Cleaning

#### Let's see how our dataset look like after being sorted on pickup time. We will use year 2020 and January as an example

In [12]:
jan_2020_df['tpep_pickup_datetime'].sort_values()

782435     2003-01-01 00:07:17
5086498    2008-12-31 23:02:40
1447622    2008-12-31 23:02:50
5086894    2008-12-31 23:03:44
3073519    2008-12-31 23:03:48
                  ...
4269480    2020-07-10 11:34:11
4282277    2020-07-31 18:50:41
275044     2021-01-02 00:22:00
275045     2021-01-02 00:44:08
275046     2021-01-02 01:12:10
Name: tpep_pickup_datetime, Length: 6405008, dtype: object

Even though this should have only January of 2020 information, we can see that some years range from 203 to 2021. Definitely should do data cleaning.

##### Create function that correctly assigns borough names to 'PULocationID'.

In [4]:
def assign_borough(df, borough_info):
    conditions = [
        df['PULocationID'].eq(2)|df['PULocationID'].eq(7)|df['PULocationID'].eq(8)|df['PULocationID'].eq(9)|df['PULocationID'].eq(10)|df['PULocationID'].eq(15)|df['PULocationID'].eq(16)|df['PULocationID'].eq(19)|df['PULocationID'].eq(27)|df['PULocationID'].eq(28)|df['PULocationID'].eq(30)|df['PULocationID'].eq(38)|df['PULocationID'].eq(53)|df['PULocationID'].eq(56)|df['PULocationID'].eq(57)|df['PULocationID'].eq(64)|df['PULocationID'].eq(70)|df['PULocationID'].eq(73)|df['PULocationID'].eq(82)|df['PULocationID'].eq(83)|df['PULocationID'].eq(86)|df['PULocationID'].eq(92)|df['PULocationID'].eq(93)|df['PULocationID'].eq(95)|df['PULocationID'].eq(96)|df['PULocationID'].eq(98)|df['PULocationID'].eq(101)|df['PULocationID'].eq(102)|df['PULocationID'].eq(117)|df['PULocationID'].eq(121)|df['PULocationID'].eq(122)|df['PULocationID'].eq(124)|df['PULocationID'].eq(129)|df['PULocationID'].eq(130)|df['PULocationID'].eq(131)|df['PULocationID'].eq(132)|df['PULocationID'].eq(134)|df['PULocationID'].eq(135)|df['PULocationID'].eq(138)|df['PULocationID'].eq(139)|df['PULocationID'].eq(145)|df['PULocationID'].eq(146)|df['PULocationID'].eq(157)|df['PULocationID'].eq(160)|df['PULocationID'].eq(171)|df['PULocationID'].eq(173)|df['PULocationID'].eq(175)|df['PULocationID'].eq(179)|df['PULocationID'].eq(180)|df['PULocationID'].eq(191)|df['PULocationID'].eq(192)|df['PULocationID'].eq(193)|df['PULocationID'].eq(196)|df['PULocationID'].eq(197)|df['PULocationID'].eq(198)|df['PULocationID'].eq(201)|df['PULocationID'].eq(203)|df['PULocationID'].eq(205)|df['PULocationID'].eq(207)|df['PULocationID'].eq(215)|df['PULocationID'].eq(216)|df['PULocationID'].eq(218)|df['PULocationID'].eq(219)|df['PULocationID'].eq(223)|df['PULocationID'].eq(226)|df['PULocationID'].eq(252)|df['PULocationID'].eq(253)|df['PULocationID'].eq(258)|df['PULocationID'].eq(260),
        df['PULocationID'].eq(3)|df['PULocationID'].eq(18)|df['PULocationID'].eq(20)|df['PULocationID'].eq(31)|df['PULocationID'].eq(32)|df['PULocationID'].eq(46)|df['PULocationID'].eq(47)|df['PULocationID'].eq(51)|df['PULocationID'].eq(58)|df['PULocationID'].eq(59)|df['PULocationID'].eq(60)|df['PULocationID'].eq(69)|df['PULocationID'].eq(78)|df['PULocationID'].eq(81)|df['PULocationID'].eq(94)|df['PULocationID'].eq(119)|df['PULocationID'].eq(126)|df['PULocationID'].eq(136)|df['PULocationID'].eq(147)|df['PULocationID'].eq(159)|df['PULocationID'].eq(167)|df['PULocationID'].eq(168)|df['PULocationID'].eq(169)|df['PULocationID'].eq(174)|df['PULocationID'].eq(182)|df['PULocationID'].eq(183)|df['PULocationID'].eq(184)|df['PULocationID'].eq(185)|df['PULocationID'].eq(199)|df['PULocationID'].eq(200)|df['PULocationID'].eq(208)|df['PULocationID'].eq(212)|df['PULocationID'].eq(213)|df['PULocationID'].eq(220)|df['PULocationID'].eq(235)|df['PULocationID'].eq(240)|df['PULocationID'].eq(241)|df['PULocationID'].eq(242)|df['PULocationID'].eq(247)|df['PULocationID'].eq(248)|df['PULocationID'].eq(250)|df['PULocationID'].eq(254)|df['PULocationID'].eq(259),
        df['PULocationID'].eq(4)|df['PULocationID'].eq(12)|df['PULocationID'].eq(13)|df['PULocationID'].eq(24)|df['PULocationID'].eq(41)|df['PULocationID'].eq(42)|df['PULocationID'].eq(43)|df['PULocationID'].eq(45)|df['PULocationID'].eq(48)|df['PULocationID'].eq(50)|df['PULocationID'].eq(68)|df['PULocationID'].eq(74)|df['PULocationID'].eq(75)|df['PULocationID'].eq(79)|df['PULocationID'].eq(87)|df['PULocationID'].eq(88)|df['PULocationID'].eq(90)|df['PULocationID'].eq(100)|df['PULocationID'].eq(103)|df['PULocationID'].eq(104)|df['PULocationID'].eq(105)|df['PULocationID'].eq(107)|df['PULocationID'].eq(113)|df['PULocationID'].eq(114)|df['PULocationID'].eq(116)|df['PULocationID'].eq(120)|df['PULocationID'].eq(125)|df['PULocationID'].eq(127)|df['PULocationID'].eq(128)|df['PULocationID'].eq(137)|df['PULocationID'].eq(140)|df['PULocationID'].eq(141)|df['PULocationID'].eq(142)|df['PULocationID'].eq(143)|df['PULocationID'].eq(144)|df['PULocationID'].eq(148)|df['PULocationID'].eq(151)|df['PULocationID'].eq(152)|df['PULocationID'].eq(153)|df['PULocationID'].eq(158)|df['PULocationID'].eq(161)|df['PULocationID'].eq(162)|df['PULocationID'].eq(163)|df['PULocationID'].eq(164)|df['PULocationID'].eq(166)|df['PULocationID'].eq(170)|df['PULocationID'].eq(186)|df['PULocationID'].eq(194)|df['PULocationID'].eq(202)|df['PULocationID'].eq(209)|df['PULocationID'].eq(211)|df['PULocationID'].eq(224)|df['PULocationID'].eq(229)|df['PULocationID'].eq(230)|df['PULocationID'].eq(231)|df['PULocationID'].eq(232)|df['PULocationID'].eq(233)|df['PULocationID'].eq(234)|df['PULocationID'].eq(236)|df['PULocationID'].eq(237)|df['PULocationID'].eq(238)|df['PULocationID'].eq(239)|df['PULocationID'].eq(243)|df['PULocationID'].eq(244)|df['PULocationID'].eq(246)|df['PULocationID'].eq(249)|df['PULocationID'].eq(261)|df['PULocationID'].eq(262)|df['PULocationID'].eq(263),
        df['PULocationID'].eq(5)|df['PULocationID'].eq(6)|df['PULocationID'].eq(23)|df['PULocationID'].eq(44)|df['PULocationID'].eq(84)|df['PULocationID'].eq(99)|df['PULocationID'].eq(109)|df['PULocationID'].eq(110)|df['PULocationID'].eq(115)|df['PULocationID'].eq(118)|df['PULocationID'].eq(156)|df['PULocationID'].eq(172)|df['PULocationID'].eq(176)|df['PULocationID'].eq(187)|df['PULocationID'].eq(204)|df['PULocationID'].eq(206)|df['PULocationID'].eq(214)|df['PULocationID'].eq(221)|df['PULocationID'].eq(245)|df['PULocationID'].eq(251),
        df['PULocationID'].eq(11)|df['PULocationID'].eq(14)|df['PULocationID'].eq(17)|df['PULocationID'].eq(21)|df['PULocationID'].eq(22)|df['PULocationID'].eq(25)|df['PULocationID'].eq(26)|df['PULocationID'].eq(29)|df['PULocationID'].eq(33)|df['PULocationID'].eq(34)|df['PULocationID'].eq(35)|df['PULocationID'].eq(36)|df['PULocationID'].eq(37)|df['PULocationID'].eq(39)|df['PULocationID'].eq(40)|df['PULocationID'].eq(49)|df['PULocationID'].eq(52)|df['PULocationID'].eq(54)|df['PULocationID'].eq(55)|df['PULocationID'].eq(61)|df['PULocationID'].eq(62)|df['PULocationID'].eq(63)|df['PULocationID'].eq(65)|df['PULocationID'].eq(66)|df['PULocationID'].eq(67)|df['PULocationID'].eq(71)|df['PULocationID'].eq(72)|df['PULocationID'].eq(76)|df['PULocationID'].eq(77)|df['PULocationID'].eq(80)|df['PULocationID'].eq(85)|df['PULocationID'].eq(89)|df['PULocationID'].eq(91)|df['PULocationID'].eq(97)|df['PULocationID'].eq(106)|df['PULocationID'].eq(108)|df['PULocationID'].eq(111)|df['PULocationID'].eq(112)|df['PULocationID'].eq(123)|df['PULocationID'].eq(133)|df['PULocationID'].eq(149)|df['PULocationID'].eq(150)|df['PULocationID'].eq(154)|df['PULocationID'].eq(155)|df['PULocationID'].eq(165)|df['PULocationID'].eq(177)|df['PULocationID'].eq(178)|df['PULocationID'].eq(181)|df['PULocationID'].eq(188)|df['PULocationID'].eq(189)|df['PULocationID'].eq(190)|df['PULocationID'].eq(195)|df['PULocationID'].eq(210)|df['PULocationID'].eq(217)|df['PULocationID'].eq(222)|df['PULocationID'].eq(225)|df['PULocationID'].eq(227)|df['PULocationID'].eq(228)|df['PULocationID'].eq(255)|df['PULocationID'].eq(256)|df['PULocationID'].eq(257),
        df['PULocationID'].eq(1)|df['PULocationID'].eq(264)|df['PULocationID'].eq(265)
    ]
    choices = [
        'Queens',
        'Bronx',
        'Manhattan',
        'Staten Island',
        'Brooklyn',
        np.nan
    ]
    df['Borough'] = np.select(conditions, choices, df['PULocationID'])
    df = df[df['Borough']!='nan']
    return df

In [5]:
def resample_boroughs_df(df):
    # add count column 
    df['count'] = df['pickup_time'].map(lambda x:1)
    # print(df['pickup_time'].value_counts())
    # convert to datetime object
    df['pickup_time'] = df['pickup_time'].map(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S'))
    df = df[['pickup_time', 'count']]

    # setting index
    df = df.set_index(pd.DatetimeIndex(df['pickup_time']), drop=True)

    # Resample by hourly
    df = df.resample('H').sum()
    return df

###### Create a function that generates borough dataframe that will save it as pickle folder

In [6]:
#june_2020_df.loc[(june_2020_df['PULocationID'] == 140), :]

In [7]:
def generate_borough_dfs(df, year, month):
    df = df[df['Borough'] != 'nan']
    resampled_df = resample_boroughs_df(df)
    pickle.dump(resampled_df, open(f'./data/boroughs_df/all_{year}_{month}.pkl','wb'))
    print('all borough ts pickled')
    man_df = df.loc[(df['Borough'] == 'Manhattan'), :]
    staten_df = df.loc[(df['Borough'] == 'Staten Island'), :]
    brook_df = df.loc[(df['Borough'] == 'Brooklyn'), :]
    bronx_df = df.loc[(df['Borough'] == 'Bronx'), :]
    queens_df = df.loc[(df['Borough'] == 'Queens'), :]
    boroughs = ['manhattan', 'brooklyn', 'bronx', 'staten', 'queens']
    resampled_man_df = resample_boroughs_df(man_df)
    resampled_man_df.head()
    resampled_brook_df = resample_boroughs_df(brook_df)
    resampled_bronx_df = resample_boroughs_df(bronx_df)
    resampled_staten_df = resample_boroughs_df(staten_df)
    resampled_queens_df = resample_boroughs_df(queens_df)
    print('resample process finished')

    dfs = [resampled_man_df, resampled_brook_df, resampled_bronx_df, resampled_staten_df, resampled_queens_df]
    for i in range(0, 5):
        pickle.dump(dfs[i], open(f'./data/boroughs_df/{boroughs[i]}_{year}_{month}.pkl','wb'))
    print('resampled boroughs success')

    return

###### Create function that cleans up my dataset

In [8]:
def clean_pickup_time(dataframe, borough_info, year, month):
    # Assign Boroguh
    time_df = assign_borough(dataframe, borough_info)
    # Subset the pickup time, rename column, and sort
    time_df =dataframe[['tpep_pickup_datetime', 'PULocationID','fare_amount','tolls_amount', 'tip_amount', 'total_amount', 'trip_distance', 'Borough']]
    time_df = time_df.rename(columns={"tpep_pickup_datetime": "pickup_time"})
    time_df = time_df.sort_values(by='pickup_time')
    time_df['pickup_time'] = time_df['pickup_time'].map(lambda x: np.nan if (str(x[0:4])!=year or str(x[5:7]) != month ) else x)
    print('missing values before cleaning:', time_df.isna().sum())
    time_df.dropna(subset=['pickup_time'], inplace=True)
    print('missing values after cleaning:', time_df.isna().sum())
    print(time_df.columns)
    generate_borough_dfs(time_df, year, month)

    #pickle data
    pickle.dump(time_df, open(f'./data/pickled/alldata_{year}_{month}.pkl','wb'))
    
    
    

    print('data cleaning complete!')
    # Save csv file to cleaned_data folder
    
    #pickle data before indexing
    pickle.dump(time_df, open(f'./data/pickled/ts_{year}_{month}.pkl','wb'))
    return time_df

##### For some reason, our dataset which should only have January 2020 data but starts from 2003, 2008, and ends at 2021 and even months which make no sense. So I will have to drop those rows that are not in 2020 of january.

In [11]:
cleaned_jan_2020_df = clean_pickup_time(jan_2020_df, borough_info, '2020', '01')

missing values before cleaning: pickup_time      212
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
all borough ts pickled
resample process finished
resampled boroughs success
data cleaning complete!

In [14]:
cleaned_feb_2020_df = clean_pickup_time(feb_2020_df, borough_info, '2020', '02')

missing values before cleaning: pickup_time      303
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
all borough ts pickled
resample process finished
resampled boroughs success
data cleaning complete!

In [26]:
#cleaned_march_2020_df = clean_pickup_time(march_2020_df, borough_info, '2020', '03')

missing values before cleaning: pickup_time      426
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
resample process finished
all borough ts pickled
resample process finished
resample process finished
resample process finished
resample process finished
resample process finished
resample process finished
resampled boroughs success
data cleaning complete!

In [18]:
# cleaned_april_2020_df = clean_pickup_time(april_2020_df, borough_info, '2020', '04')

missing values before cleaning: pickup_time      132
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
resample process finished
all borough ts pickled
resample process finished
resample process finished
resample process finished
resample process finished
resample process finished
resample process finished
resampled boroughs success
data cleaning complete!

In [15]:
#cleaned_may_2020_df = clean_pickup_time(may_2020_df, borough_info, '2020', '05')

missing values before cleaning: pickup_time      23
PULocationID      0
fare_amount       0
tolls_amount      0
tip_amount        0
total_amount      0
trip_distance     0
Borough           0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
resample process finished
all borough ts pickled
resample process finished
resample process finished
resample process finished
resample process finished
resample process finished
resample process finished
resampled boroughs success
data cleaning complete!

In [22]:
cleaned_june_2020_df = clean_pickup_time(june_2020_df, borough_info, '2020', '06')

missing values before cleaning: pickup_time      9
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
2020-06-10 23:13:00    8
2020-06-15 04:44:00    8
2020-06-12 04:36:00    8
2020-06-22 04:34:00    8
2020-06-03 23:52:00    8
                      ..
2020-06-01 20:29:33    1
2020-06-18 16:46:31    1
2020-06-21 06:45:46    1
2020-06-07 23:49:39    1
2020-06-05 23:05:34    1
Name: pickup_time, Length: 457543, dtype: int64
all borough ts pickled
               pickup_time  PULocationID  fare_amount  tolls_amount  \
499366 2020-06-01 00:00:00            75        23.57          0.00
47     2020-06-01 00:00:51            68        15.50          0.00
499345 2020-06-01 00:01:00            75        43.52          6.12
499355 2020-06-01 00:01:00           137        18.74          6.12
135    2020-06-01 00:01:01           152        17.50          0.00
...                    ...           ...          ...           ...
498865 2020-06-30 23:57:42           137         8.50          0.00
549734 2020-06-30 23:58:00           232        15.84          0.00
498809 2020-06-30 23:58:29           230         5.00          0.00
498758 2020-06-30 23:58:38           229         7.00          0.00
498724 2020-06-30 23:58:38            75         5.50          0.00

        tip_amount  total_amount  trip_distance    Borough  count
499366        0.00         26.87           8.65  Manhattan      1
47            3.86         23.16           4.92  Manhattan      1
499345        0.00         50.44          21.65  Manhattan      1
499355        0.00         28.16           6.58  Manhattan      1
135           0.00         21.30           5.39  Manhattan      1
...            ...           ...            ...        ...    ...
498865        0.00         12.30           1.82  Manhattan      1
549734        2.13         21.27           5.55  Manhattan      1
498809        0.00          8.80           0.70  Manhattan      1
498758        3.24         14.04           1.52  Manhattan      1
498724        2.00          8.80           1.16  Manhattan      1

[481227 rows x 9 columns]
2020-06-10 23:13:00    7
2020-06-25 16:18:00    7
2020-06-23 11:06:36    6
2020-06-12 23:14:00    6
2020-06-25 12:56:00    6
                      ..
2020-06-01 18:28:02    1
2020-06-15 09:52:54    1
2020-06-20 01:03:35    1
2020-06-03 14:27:58    1
2020-06-15 18:16:12    1
Name: pickup_time, Length: 413012, dtype: int64
2020-06-23 05:03:00    4
2020-06-23 11:45:00    4
2020-06-03 05:59:00    4
2020-06-29 04:41:00    4
2020-06-09 04:40:00    4
                      ..
2020-06-01 21:10:00    1
2020-06-18 04:06:00    1
2020-06-08 04:39:00    1
2020-06-11 05:56:00    1
2020-06-25 09:40:00    1
Name: pickup_time, Length: 17402, dtype: int64
2020-06-11 06:01:00    4
2020-06-24 04:47:00    4
2020-06-23 04:56:00    3
2020-06-09 01:23:00    3
2020-06-19 04:52:00    3
                      ..
2020-06-17 18:21:32    1
2020-06-18 03:16:00    1
2020-06-26 21:10:48    1
2020-06-10 04:28:00    1
2020-06-12 17:28:11    1
Name: pickup_time, Length: 9649, dtype: int64
2020-06-29 21:36:36    2
2020-06-18 05:27:00    2
2020-06-09 04:00:00    2
2020-06-08 05:16:00    2
2020-06-22 05:43:00    2
                      ..
2020-06-19 05:00:23    1
2020-06-17 05:22:00    1
2020-06-02 01:19:00    1
2020-06-07 05:56:00    1
2020-06-12 05:28:32    1
Name: pickup_time, Length: 540, dtype: int64
2020-06-10 04:28:00    4
2020-06-27 03:34:00    4
2020-06-27 17:20:36    3
2020-06-04 05:49:00    3
2020-06-12 03:28:00    3
                      ..
2020-06-18 12:43:56    1
2020-06-01 04:08:27    1
2020-06-29 10:10:42    1
2020-06-18 01:44:49    1
2020-06-12 17:28:11    1
Name: pickup_time, Length: 33440, dtype: int64
resample process finished
resampled boroughs success
data cleaning complete!

### For the year 2019:

In [33]:
#cleaned_jan_2019_df = clean_pickup_time(jan_2019_df, borough_info, '2019', '01')

missing values before cleaning: pickup_time      537
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
resample process finished
all borough ts pickled
resample process finished
resample process finished
resample process finished
resample process finished
resample process finished
resample process finished
resampled boroughs success
data cleaning complete!

In [37]:
#cleaned_feb_2019_df = clean_pickup_time(feb_2019_df, borough_info, '2019', '02')

missing values before cleaning: pickup_time      625
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')

In [13]:
#cleaned_march_2019_df = clean_pickup_time(march_2019_df, borough_info, '2019', '03')

missing values before cleaning: pickup_time      510
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
all borough ts pickled
resample process finished
resampled boroughs success
data cleaning complete!

In [16]:
#cleaned_april_2019_df = clean_pickup_time(april_2019_df, borough_info, '2019', '04')

missing values before cleaning: pickup_time      313
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
all borough ts pickled
resample process finished
resampled boroughs success
data cleaning complete!

In [16]:
#cleaned_may_2019_df = clean_pickup_time(may_2019_df, borough_info, '2019', '05')

missing values before cleaning: pickup_time      256
PULocationID       0
fare_amount        0
tolls_amount       1
tip_amount         0
total_amount       1
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     1
tip_amount       0
total_amount     1
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
all borough ts pickled
resample process finished
resampled boroughs success
data cleaning complete!

In [20]:
#cleaned_june_2019_df = clean_pickup_time(june_2019_df, borough_info, '2019', '06')

missing values before cleaning: pickup_time      535
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
all borough ts pickled
resample process finished
resampled boroughs success
data cleaning complete!

In [12]:
#cleaned_july_2019_df = clean_pickup_time(july_2019_df, borough_info, '2019', '07')

missing values before cleaning: pickup_time      285
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
all borough ts pickled
resample process finished
resampled boroughs success
data cleaning complete!

In [21]:
#cleaned_aug_2019_df = clean_pickup_time(august_2019_df, borough_info, '2019', '08')

missing values before cleaning: pickup_time      506
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
all borough ts pickled
resample process finished
resampled boroughs success
data cleaning complete!

In [24]:
#cleaned_sept_2019_df = clean_pickup_time(september_2019_df, borough_info, '2019', '09')

missing values before cleaning: pickup_time      392
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
all borough ts pickled
resample process finished
resampled boroughs success
data cleaning complete!

In [26]:
#cleaned_oct_2019_df = clean_pickup_time(october_2019_df, borough_info, '2019', '10')

missing values before cleaning: pickup_time      303
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
all borough ts pickled
resample process finished
resampled boroughs success
data cleaning complete!

In [31]:
#cleaned_nov_2019_df = clean_pickup_time(november_2019_df, borough_info, '2019', '11')

missing values before cleaning: pickup_time      648
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
all borough ts pickled
resample process finished
resampled boroughs success
data cleaning complete!

In [35]:
#cleaned_dec_2019_df = clean_pickup_time(december_2019_df, borough_info, '2019', '12')

missing values before cleaning: pickup_time      384
PULocationID       0
fare_amount        0
tolls_amount       0
tip_amount         0
total_amount       0
trip_distance      0
Borough            0
dtype: int64
missing values after cleaning: pickup_time      0
PULocationID     0
fare_amount      0
tolls_amount     0
tip_amount       0
total_amount     0
trip_distance    0
Borough          0
dtype: int64
Index(['pickup_time', 'PULocationID', 'fare_amount', 'tolls_amount',
       'tip_amount', 'total_amount', 'trip_distance', 'Borough'],
      dtype='object')
all borough ts pickled
resample process finished
resampled boroughs success
data cleaning complete!

### Now that a year worth of data is cleaned up, we would need to merge the cleaned data into one to show one year worth of dataset since it is in time interval of an hour

Assign cleaned data, merge the data and pickle

For Manhattan Data:

In [64]:
def merge_pickle_df(borough):
    df_06_19 = pickle.load(open(f'./data/boroughs_df/{borough}_2019_06.pkl','rb'))
    df_07_19 = pickle.load(open(f'./data/boroughs_df/{borough}_2019_07.pkl','rb'))
    df_08_19 = pickle.load(open(f'./data/boroughs_df/{borough}_2019_08.pkl','rb'))
    df_09_19 = pickle.load(open(f'./data/boroughs_df/{borough}_2019_09.pkl','rb'))
    df_10_19 = pickle.load(open(f'./data/boroughs_df/{borough}_2019_10.pkl','rb'))
    df_11_19 = pickle.load(open(f'./data/boroughs_df/{borough}_2019_11.pkl','rb'))
    df_12_19 = pickle.load(open(f'./data/boroughs_df/{borough}_2019_12.pkl','rb'))
    df_01_20 = pickle.load(open(f'./data/boroughs_df/{borough}_2020_01.pkl','rb'))
    df_02_20 = pickle.load(open(f'./data/boroughs_df/{borough}_2020_02.pkl','rb'))
    df_03_20 = pickle.load(open(f'./data/boroughs_df/{borough}_2020_03.pkl','rb'))
    df_04_20 = pickle.load(open(f'./data/boroughs_df/{borough}_2020_04.pkl','rb'))
    df_05_20 = pickle.load(open(f'./data/boroughs_df/{borough}_2020_05.pkl','rb'))
    df_06_20 = pickle.load(open(f'./data/boroughs_df/{borough}_2020_06.pkl','rb'))
    list_df = [df_06_19, df_07_19, df_08_19, df_09_19, df_10_19, df_11_19, df_12_19, df_01_20, df_02_20, df_03_20, df_04_20, df_05_20, df_06_20]
    borough_df = pd.concat(list_man, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)
    pickle.dump(manhattan_df, open(f'./data/final_cleaned_data/{borough}_cleaned_data.pkl','wb'))
    print(f'pickle completed for {borough}')
    return borough_df

For Manhattan dataframe:

In [65]:
manhattan_df = merge_pickle_df('manhattan')
manhattan_df

pickle completed for manhattan

                     count
pickup_time
2019-06-01 00:00:00  10744
2019-06-01 01:00:00   8371
2019-06-01 02:00:00   6212
2019-06-01 03:00:00   4319
2019-06-01 04:00:00   2921
...                    ...
2020-06-30 19:00:00   1130
2020-06-30 20:00:00    730
2020-06-30 21:00:00    553
2020-06-30 22:00:00    466
2020-06-30 23:00:00    354

[9504 rows x 1 columns]

### For Queens:

In [66]:
queens_df = merge_pickle_df('queens')
queens_df

pickle completed for queens

                     count
pickup_time
2019-06-01 00:00:00  10744
2019-06-01 01:00:00   8371
2019-06-01 02:00:00   6212
2019-06-01 03:00:00   4319
2019-06-01 04:00:00   2921
...                    ...
2020-06-30 19:00:00   1130
2020-06-30 20:00:00    730
2020-06-30 21:00:00    553
2020-06-30 22:00:00    466
2020-06-30 23:00:00    354

[9504 rows x 1 columns]

### For brooklyn

In [67]:
brooklyn_df = merge_pickle_df('brooklyn')
brooklyn_df

pickle completed for brooklyn

                     count
pickup_time
2019-06-01 00:00:00  10744
2019-06-01 01:00:00   8371
2019-06-01 02:00:00   6212
2019-06-01 03:00:00   4319
2019-06-01 04:00:00   2921
...                    ...
2020-06-30 19:00:00   1130
2020-06-30 20:00:00    730
2020-06-30 21:00:00    553
2020-06-30 22:00:00    466
2020-06-30 23:00:00    354

[9504 rows x 1 columns]

### For Bronx:

In [69]:
bronx_df = merge_pickle_df('bronx')
bronx_df

pickle completed for bronx

                     count
pickup_time
2019-06-01 00:00:00  10744
2019-06-01 01:00:00   8371
2019-06-01 02:00:00   6212
2019-06-01 03:00:00   4319
2019-06-01 04:00:00   2921
...                    ...
2020-06-30 19:00:00   1130
2020-06-30 20:00:00    730
2020-06-30 21:00:00    553
2020-06-30 22:00:00    466
2020-06-30 23:00:00    354

[9504 rows x 1 columns]

### For Staten Island

In [70]:
staten_df = merge_pickle_df('staten')
staten_df

pickle completed for staten

                     count
pickup_time
2019-06-01 00:00:00  10744
2019-06-01 01:00:00   8371
2019-06-01 02:00:00   6212
2019-06-01 03:00:00   4319
2019-06-01 04:00:00   2921
...                    ...
2020-06-30 19:00:00   1130
2020-06-30 20:00:00    730
2020-06-30 21:00:00    553
2020-06-30 22:00:00    466
2020-06-30 23:00:00    354

[9504 rows x 1 columns]